<div id="page-wrapper">
  <div class="container-fluid">
    <!-- Page Heading -->
 <%= render 'shared/dosFilasVistas', tituloVentana: "Alergia a alimentos" %>
 
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"></h3>
            <div style="text-align: center">
              <h3 class="panel-title">
                Modificar Pregunta 
              </h3>
            </div>
          </div>
          <div class="panel-body">
            <div class="list-group">

             <%=render 'form', labelBoton: "Modificar" %>
            
            </div>
            <div align="center">
              <%= link_to 'Regresar', administrator_tips_path %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3"></div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /#page-wrapper -->
</div>
</div>
</div>