
.content_fullwidth {
    float: left;
    width: 100%;
    padding: 30px 0px 0px;
}

.form-group {
    margin-bottom:8px;
}

.h3 {margin-bottom: 10px;}

.container-fluid {
    padding-top: 0px;
    margin-top: -5px;}

.panel-body {
    padding: 0px 15px 15px 15px;
}

.alert {
    padding: 1px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.address-info {
    float: left;
    background-color: #F9F9F9;
    border: 1px solid #E1E1E1;
    padding: 20px 10px 10px 10px;
    width: 98%;
    margin-bottom: 40px;
}
