<% content_for :head do %>
<%= stylesheet_link_tag :contacto -%>
<% end %>
<div class="clearfix"></div>
<div class="page_title">
      <div class="title">
         <h1>Contacto</h1>
      </div>
</div>
<!-- end page title --> 
<!-- Contant
   ======================================= -->
<div>
   <div class="content_fullwidth">
     
     <div class="one_half">

     <div class="address-info">           
               <ul  class="list">
                  <h2>Dirección</h2>
                  <li><i class="fa fa-map-marker fa-lg"></i>&nbsp;Urologíco San Roman,</li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp;Calle Chivacoa, </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp;Sección San Román,</li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp;Urbanización las Mercedes,</li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp;Piso 1, consultorio 14.</li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp;Caracas - Distrito Capital. Venezuela.</li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp;Teléfono master:</li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-phone"></i>&nbsp;0212 999.01.11</li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-phone"></i>&nbsp;0212 992.22.22</li>
               </ul>
           
          
               <h2>Contacto</h2>
               <ul class="list">
                  <li>Dr. Armando Antonio  Pérez Puigbo</li>
                  <li>Dr(a). Susana Ferro</li>
                  <li>Horario: <br />Lunes a Viernes 7:00 am a 2:00 pm</li>
                  <li>Teléfonos directos:</li>
                  <li><i class="fa fa-phone"></i> 0212 991.46.20 </li>
                  <li><i class="fa fa-phone"></i> 0212 999.01.53</li>
                  <li>Correo electrónico:<br /> <a href: "mailto:administrador@alerasin.com">administrador@alerasin.com</a></li>
               </ul>
          
         </div>
      <!-- 
         <p>En el siguiente formulario podrá solicitar una cita médica, en un lapso de 48 horas será contactado para concretar la fecha de la consulta.<br />
         También puede llamar a nuestros teléfonos para concertar la cita: 
         </br>
         0212 991.46.20 ó 0212 999.01.53</p>
         <br />
         <h3>Formulario de <strong>Solicitud de cita médica</strong></h3>
             <%#=render 'form'%> -->
      </div>
        
      <div class="one_half">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3923.358828382327!2d-66.8559667!3d10.47235305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2a58f5545a5217%3A0x878369c00b7ba61d!2sInstituto+de+Clinicas+y+Urolog%C3%ADa+Tamanaco!5e0!3m2!1ses-419!2sve!4v1437514982858" class="mapa" frameborder="0"  allowfullscreen></iframe>
         <br />
      </div>
   </div>
</div>


<!-- end content area -->
<div class="clearfix mar_top3"></div>