<!-- Footer
======================================= -->

<div class="footer">
	<div class="container">
    
   		<div class="one_fourth">            
            
            <!-- end footer logo -->
            <ul  class="list">
            	 <h2>Dirección</h2>
                 <li><i class="fa fa-map-marker fa-lg"></i>
                 &nbsp;Urologíco San Roman, </li>
                 <li>&nbsp;&nbsp;&nbsp;&nbsp;Calle Chivacoa, </li>
                 <li>&nbsp;&nbsp;&nbsp;&nbsp;Sección San Román,</li>
				 <li>&nbsp;&nbsp;&nbsp;&nbsp;Urbanización las Mercedes,</li>
                 <li>&nbsp;&nbsp;&nbsp;&nbsp;Piso 1, consultorio 14.</li>

				 <li>&nbsp;&nbsp;&nbsp;&nbsp;Caracas - Distrito Capital. Venezuela.</li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp;Teléfono master:</li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-phone"></i>&nbsp;(0212) 999.01.11</li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-phone"></i>&nbsp;(0212) 992.22.22</li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;
                <%= image_tag "footer-wmap.png", :alt => "Image Footer"%>
                    </li>
            </ul>
            
        </div><!-- end address section -->
        
        <div class="one_third">        	
            <h2>Contacto</h2>            
            <ul class="list">             
                <li>Dr. Armando Antonio  Pérez Puigbo</li>
                <li>Dr(a). Susana Ferro</li>
                <li>Horario: Lunes a Viernes 7:00 am a 2:00 pm</li>
                <li>Teléfonos directos:</li>
                <li><i class="fa fa-phone"></i> (0212) 991.46.20 </li>
                <li><i class="fa fa-phone"></i> (0212) 999.01.53</li>
                <li>Correo electrónico: <a href ="mailto:administrador@alerasin.com">administrador@alerasin.com</a></li>
            </ul>          
        </div><!-- end useful links -->
         
       <div class="one_five last">        	            
            <h2>Enlaces de interes</h2>              
            <div class="right"><a href="http://www.aaaai.org" target="_blank">Academia americana de alergia, asma e inmunologia<br />
			</a></div>                    
            
            <div class="clearfix divider_line4"></div>

            <div class="right"><a href="http://acaai.org/" target="_blank">The British Society for Allergy & Clinical Immunology</a>
            </div>

            <div class="clearfix divider_line4"></div>

            <div class="right"><a href="http://www.seaic.org/" target="_blank">Sociedad Española de Alergología e Inmunología Clínica </a>
            </div>

            <div class="clearfix divider_line4"></div>

            <div class="right"><a href="http://www.rscmv.org.ve" target="_blank">Red de sociedades científicas médicas venezolanas</a>
            </div>
        
            <div class="clearfix divider_line4"></div>

            <div class="right"><a href="http://www.svaai.org.ve/" target="_blank">Sociedad Venezolana de Alergia, asma e inmunologia</a>
            </div>
        
            <div class="clearfix divider_line4"></div>

            <div class="right"><a href="http://www.anm.org.ve/" target="_blank">Academia Nacional de Medicina</a>
            </div>
  
    </div><!-- end enlaces  -->
	
    <div class="clearfix"></div>
    
</div>

<div class="copyright_info">

    <div class="container">
    
        <div class="one_half">
        
            <b>Copyright © 2015. All rights reserved.  </b>
            
        </div>
    
    	<div class="one_half last">
     		
            <ul class="footer_social_links">
             <!--   <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                <li><a href="#"><i class="fa fa-flickr"></i></a></li>
               <li><a href="#"><i class="fa fa-html5"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a><li>                
                <li><a href="#"><i class="fa fa-rss"></i></a></li> -->
            </ul>                
    	</div>    
    </div>    
</div><!-- end copyright info -->

<a href="#" class="scrollup">Scroll</a><!-- end scroll to top of the page-->
