<!-- COMIENZO PERSONAL 
   ======================-->

<div class="fresh_projects">

  <div class="clearfix mar_top2"></div>
    
  <div class="container">
    
      <h1><i>El equipo profesional</i>
         <strong>Conoce los doctores</strong> 
      </h1>
        
        <ul id="mycarouseltwo" class="jcarousel-skin-tango">
          
            <li>
                <div class="item">                        
                <div class="fresh_projects_list">
                    <section class="cheapest">
                        <div class="display">                  
                            <div class="small-group">        
                                <div class="small money">
                                        <img src="http://placehold.it/275x250" alt="">
                                        <div class="info">
                                            <div class="title">
                                                Dr. Armando Perez Puigb&oacute; 
                                             </div>
                                             <div class="additionnal">
                                              Inmunólogo Alergólogo
                                              Universidad Central de Venezuela <br />
                                              Postgrados: <br />
                                              Brompton Hospital (Inglaterra) <br />
                                              Westminster Hospital (Inglaterra) <br />
                                              Tulane Medical School (USA)<br />
                                              Ex Presidende de la SVAAI<br />
                                              Expresidente de la RSCMV<br />
                                               <!-- <b><a href="#">more ></a></b>-->
                                             </div>
                                        </div>
                                        <div class="hover"></div> 
                                </div>        
                            </div>     
                        </div>
                    </section>
                </div>
                </div>
            </li><!-- end item -->
            
            <li>
                <div class="item">                        
                <div class="fresh_projects_list">
                    <section class="cheapest">
                        <div class="display">                  
                            <div class="small-group">        
                                <div class="small money">
                                        <img src="http://placehold.it/275x250" alt="">
                                        <div class="info">
                                          <div class="title">
                                            Dra. Susana Ferro De Perez</div>
                                         <div class="additionnal">
                                            Pediatra / Inmunólogo Alergólogo<br />
                                              Universidad Central de Venezuela<br />
                                              Postgrados:<br />
                                              Hospital Miguel Perez Carreño<br />
                                              Hospital Militar Dr Carlos Arvelo<br />
                                              Miembro titular de la SVAAI<br />

                                           <!-- <b><a href="#">more ></a></b> -->
                                         </div>
                                        </div>
                                        <div class="hover"></div> 
                                </div>        
                            </div>     
                        </div>
                    </section>
                </div>
                </div>
            </li><!-- end item -->
            
 
          </ul>
        
    </div>



<!-- FIN PERSONAL
   ========================= -->
<!-- scroll up -->