
<div class="joosa fusectio4">
<div class="clearfix mar_top2"></div>
   <div class="container">
     
     


      <!-- end news section -->
      <div class="one_third last" id="ultima-seccion">
         <h4 style = "height:35px" align="center"><strong>pacientes en tratamiento desensibilizante de alergia</strong></h3>
         <div class="spe_banner">
            <div class="left"></div>
            <div class="right">
               <p>Solo para pacientes en tratamiento desensibilizante.</p>
               <%=link_to "Ingresar aquí", new_usuario_session_path  %>
            </div>
         </div>
      </div>
      <!-- end banner section -->
   </div>
</div>
<!-- end features section 4 -->
<!-- FIN SECCIONES 
   ======================-->