<div class="clearfix"></div>

<div class="page_title">
        <div class="title"><h1>Contacto</h1></div>
</div><!-- end page title --> 


<!-- Contant
======================================= -->
<div >
	<div class="content_fullwidth">
    
    <div class="one_half">
    <p>Si lo desea en el siguiente formulario puede solicitar una cita médica, en un lapso de 48 horas será contactado para concretar la fecha.<br />
        </p>
    <br />
    <h3>Formulario de <strong>Contacto</strong></h3>
    <form action="" method="post">
        <fieldset>
        <label for="name" class="blocklabel">Nombre: *</label>

        <p class="" >
        <input name="yourname" class="input_bg" type="text" id="name" value=''/></p>
        <label for="email" class="blocklabel">E-mail*</label>
        <p class="" ><input name="email" class="input_bg" type="text" id="email" value='' /></p>
        
        <label for="message" class="blocklabel">Su mensaje*</label>
        <p class=""><textarea name="message" class="textarea_bg" id="message" cols="20" rows="7" ></textarea></p>
        
        <div class="clearfix"></div>
        <input name="Send" type="submit" value="Enviar" class="comment_submit" id="send"/></p>
               
       
        </fieldset>
        </form> 
    </div> 
               
    <div class="one_half last">
        <div class="address-info" style="float:left">

                <ul  class="list">
            	 <h2>Dirección</h2>
                 <li><i class="fa fa-map-marker fa-lg"></i>
                 &nbsp;Urologíco San Roman,</li>
                 <li>&nbsp;&nbsp;&nbsp;&nbsp;Calle Chivacoa, </li>
                 <li>&nbsp;&nbsp;&nbsp;&nbsp;Sección San Román,</li>
				 <li>&nbsp;&nbsp;&nbsp;&nbsp;Urbanización las Mercedes,</li>
				 <li>&nbsp;&nbsp;&nbsp;&nbsp;Caracas - Distrito Capital. Venezuela.</li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp;Teléfono master:</li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-phone"></i>&nbsp;0212 999.01.11</li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-print"></i>&nbsp;0212 992.22.22</li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/footer-wmap.png" alt="" /></li>
            </ul>

            <h2>Contacto</h2>            
            <ul class="list">             
                <li>Dr. Armando Antonio  Pérez Puigbo</li>
                <li>Dr(a). Susana Ferro</li>
                <li>Horario: Lunes a Viernes 7:00 am a 2:00 pm</li>
                <li>Consultorio: Piso 1, consultorio 14.</li>
                <li>Teléfonos directos:</li>
                <li><i class="fa fa-phone"></i> 0212 991.46.20 </li>
                <li><i class="fa fa-phone"></i> 0212 999.01.53</li>
                <li>Correo electrónico: aperez@urologico.com</li>
            </ul>          
        </div><!-- end useful links -->


 
         <h3>Mapa de ubicación </h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3923.358828382327!2d-66.8559667!3d10.47235305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2a58f5545a5217%3A0x878369c00b7ba61d!2sInstituto+de+Clinicas+y+Urolog%C3%ADa+Tamanaco!5e0!3m2!1ses-419!2sve!4v1437514982858" width="400" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
            <br /><small>
            
        </small>
        
    </div>
            
</div>

</div><!-- end content area -->


<div class="clearfix mar_top5"></div>
