 <div id="page-wrapper">
   <h1>
   </h1>
   <div class="container-fluid">
    <h1>
    </h1>
    <p id="notice"><%= notice %></p>

    <h1>Listing Frascos</h1>

    <table>
      <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @frascosUsr.each do |usr| %>
        <th><%= link_to "#{usr.fetch(:nomAp)}:", frasco_path("#{usr.fetch(:id)}") %></td>
          <% usr.fetch(:frascos).each do |fra| %>
          <tr>
            <td></td>
            <td><%= "Frasco #{fra.fetch(:idFra)}. #{fra.fetch(:fCre)}" %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

      <br>


    </div>
  </div>