 <div id="page-wrapper">
   <h1>
   </h1>
   <div class="container-fluid">
    <h1>
    </h1>
    <p id="notice"><%= notice %></p>

    <h2>Lista de Frascos Preparados</h2>

    <table>
      <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @frascosUsr.each do |usr| %>
        <tr><td><%= link_to "#{usr.fetch(:nomAp)}:", frasco_path("#{usr.fetch(:id)}") %></td></tr>
        <% usr.fetch(:frascos).each do |fra| %>
        <tr>
          <td></td>
          <td><%= "Frasco #{fra.fetch(:idFra)}. #{fra.fetch(:fCre)}" %></td>
        </tr>
        <% end %>
        <td>&nbsp</td>
        <% end %>
      </tbody>
    </table>

    <br>

    <div style="text-align:center">
      <%= will_paginate @frascosUsr,  renderer: BootstrapPagination::Rails %>
      <%#= js_will_paginate @frascosUsr, {page: params[:page], per_page: 10} %>
    </div>

  </div>
</div>