
<div id="page-wrapper">
<h1>
</h1>
<div class="container-fluid">
<h1>
</h1>
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_frasco_path(@frasco) %> |
<%= link_to 'Back', frascos_path %>

</div>	
</div>