<div id="page-wrapper">
<div class="container-fluid">
   <%= render 'shared/dosFilasVistas', tituloVentana: "Agregar p치gina a la opci칩n: "+ (formatearOpcionMenu @opcionMenu.titulo) %>
   <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
         <div class="panel panel-primary">
            <div class="panel-heading">
               <h3 class="panel-title"></h3>
               <div style="text-align: center">
                  <h3 class="panel-title">Agregar P치gina </h3>
               </div>
            </div>
            <div class="panel-body">
               <div class="list-group">
                  <%=render 'form', labelBoton: "Agregar nueva p치gina" %>
               </div>
               <div align="center">
                <%= link_to 'Regresar', administrator_menu_nivel0s_path %>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-1"></div>
   </div>
</div>
