<div class="navbar-header">               
   <%= image_tag attachments['logo.png'].url %>
   <a class="navbar-brand" href="index.html"></a>
</div>

<p> Estimado usuario: <%=@usuario_nombre%> </p>

<p>Alguién ha intentado cambiar su password, puedes continuar esta actividad a través del siguiente enlace:</p>

<p><%= link_to 'Cambiar mi password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si usted no requirió este cambio ignore este correo</p>
<p>Tu password no será cambiado hasta que acceda al enlace anterior y coloque uno nuevo.</p>
