<!doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-gb" class="no-js"> <!--<![endif]-->

<head>
	<title>JOOSA - Multipurpose Template</title>
	
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
    
    <!-- Favicon --> 
	<link rel="shortcut icon" href="images/favicon.ico">
    
    <!-- this styles only adds some repairs on idevices  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- Google fonts - witch you want to use - (rest you can just remove) -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700italic,700,600italic,600,400italic,300italic,300|Roboto:100,300,400,500,700&amp;subset=latin,latin-ext' type='text/css' />
    
    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    
    <!-- ######### CSS STYLES ######### -->
	
    <link rel="stylesheet" href="css/reset.css" type="text/css" />
	<link rel="stylesheet" href="css/style.css" type="text/css" />
    
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
    
    <!-- responsive devices styles -->
	<link rel="stylesheet" media="screen" href="css/responsive-leyouts.css" type="text/css" />


    
    <!-- sticky menu -->
    <link rel="stylesheet" href="js/sticky-menu/core.css">
    
    <!-- jquery jcarousel -->
    <link rel="stylesheet" type="text/css" href="js/jcarousel/skin.css" />
    <link rel="stylesheet" type="text/css" href="js/jcarousel/skin2.css" />
    
    
</head>

<body>

<div class="site_wrapper">
   

<!-- HEADER -->
<header id="header">
 
	<div id="trueHeader">
    
	<div class="wrapper">
    
     <div class="container">
    
		<!-- Logo -->
		<div class="logo_main"><a href="index.html" id="logo"></a></div>
		
        <!-- Menu -->
        <div class="menu_main">
        
        	<div class="joosa top_links">Call Us: <strong>1 (800) 234 567 8900</strong> <a href="#" class="makeap_but">Make an Appointment</a></div>
           
           <nav id="access" class="access" role="navigation">
           
            <div id="menu" class="menu">
                
                <ul id="tiny">
                
                    <li><a href="index.html">Home</a></li>  
                    
                    <li><a href="#">Layouts <i class="fa fa-angle-down"></i></a>
                    
                    	<ul>
                            <li><a href="http://gsrthemes.com/joosa/layout2/fullwidth/index.html">Creative</a></li>
                            <li><a href="http://gsrthemes.com/joosa/layout3/fullwidth/index.html">Medical</a></li>
                            <li><a href="http://gsrthemes.com/joosa/layout4/fullwidth/index.html">Hosting</a></li>
                            <li><a href="http://gsrthemes.com/joosa/layout5/fullwidth/index.html">One Page</a></li>
                            <li><a href="http://gsrthemes.com/joosa/layout1/fullwidth/index.html">Corporate</a></li>
                        </ul>
                    
                    </li>
                    
                    <li><a href="#" class="active">Pages <i class="fa fa-angle-down"></i></a>
                    
                        <ul>
                            <li><a href="about.html">About Page Style 1</a></li>
                            <li><a href="about-2.html">About Page Style 2</a></li>
                            <li><a href="services.html">Services Style 1</a></li>
                            <li><a href="services-2.html">Services Style 2</a></li>
                            <li><a href="full-width.html">Full Width Page</a></li>
                            <li><a href="left-sidebar.html">Left Sidebar Page</a></li>
                            <li><a href="right-sidebar.html">Right Sidebar Page</a></li>
                            <li><a href="left-nav.html">Left Navigation</a></li>
                            <li><a href="right-nav.html">Right Navigation</a></li>
                            <li><a href="404.html">404 Error Page</a></li>
                        </ul>
                        
                    </li>
                    
                    <li><a href="#">Features <i class="fa fa-angle-down"></i></a>
                    
                        <ul>
                            <li><a href="elements.html">Elements</a></li>
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="pricing-tables.html">Pricing Tables</a></li>
                            <li><a href="columns.html">Page Columns</a></li>
                            <li><a href="testimonials.html">Testimonials</a></li>
                            <li><a href="faqs.html">FAQs</a></li>
                            <li><a href="tabs.html">Tabs</a></li>
                            <li><a href="#">5 Diffrent Layouts</a></li>                         
                            <li><a href="#">Custom BGs &amp; Colors</a></li>
                            <li><a href="#">PSD Files Included</a></li>                             
                            <li><a href="#">Clean &amp; Valid Code</a></li>
                            <li><a href="#">Useful Typo Elements</a></li>
                            <li><a href="#">Cross Browser Check</a></li>   
                        </ul>
                        
                    </li>
  
                    <li><a href="#">Portfolio <i class="fa fa-angle-down"></i></a>
                    
                        <ul>
                            <li><a href="portfolio-one.html">Single Image</a></li>
                            <li><a href="portfolio-two.html">2 Columns</a></li>
                            <li><a href="portfolio-three.html">3 Columns</a></li>
                            <li><a href="portfolio-four.html">4 Columns</a></li>
                            <li><a href="portfolio-five.html">Portfolio + Sidebar</a></li>
                            <li><a href="portfolio-six.html">Portfolio Fancy</a></li>
                        </ul>
                    </li>
                    
                    <li><a href="#">Blog <i class="fa fa-angle-down"></i></a>
                    
                        <ul>
                            <li><a href="blog.html">with Large Image</a></li>
                            <li><a href="blog-2.html">with Small Image</a></li>
                            <li><a href="blog-post.html">Single Post</a></li>
                        </ul>
                    </li>
                    
                    <li><a href="contact.php">Contact</a></li>
                    
                </ul>
                
            </div>
            
        </nav>
      
        </div><!-- end nav menu -->
              
	</div>
		
	</div>
    
	</div>
    
</header><!-- end header -->

<div class="clearfix"></div>

<div class="page_title">

	<div class="container">
		<div class="title"><h1>Left Navigation</h1></div>
        <div class="pagenation">&nbsp;<a href="index.html">Home</a> <i>/</i> <a href="#">Pages</a> <i>/</i> Left Navigation</div>
	</div>
</div><!-- end page title --> 


<!-- Contant
======================================= -->

<div class="container">

<!-- left sidebar starts -->
<div class="left_sidebar">

	<div class="sidebar_widget">
    
    	<div class="sidebar_title"><h3>Left <i>Navigations</i></h3></div>
        
		<ul class="arrows_list1">		
        
            <li><a href="#"><i class="fa fa-angle-right"></i> Our History</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> Professional Research</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> Our Development</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> Partnership With Us</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> Company Carreer</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> New Technology</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> Client Testimonials</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> Responsive HTML5/CSS3</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> Well Commented &amp;Structured</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> 4 Diffrent Websites</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> Slider Revolution worth of $12</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> Custom Backgrounds &amp; Patterns</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> Unlimited Colors &amp; Shortcodes</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> 10 Different Home pages</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> Useful Typography Elements</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> Cross Browser Support</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> Fully Layered PSD Files</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> Well Documentation Files</a></li>
            
		</ul>
        
	</div><!-- end section -->
    
</div><!-- end left sidebar -->


<div class="content_right">
    
    	<h2>We Build <strong>Smarter Highly Usable Stuff!</strong></h2>
        
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen not only five centuries, but also the leap essentially.</p>
        
        <div class="clearfix mar_top2"></div>
        
        <div class="big_text1">Liva is a Responsive HTML5 / CSS3 Desktop, Tablet, Mobile phone… Simple, Clean &amp; <i>Professional Template</i>. It comes with Unique Pages, Awesome Slideshows, Unique Color Variations. Easy-to-customize and fully featured design. This theme suitable for Company, Business, Blog and Portfolio. Create Outstanding <i>Website or Blog in Minutes!</i> </div>
        
        <div class="clearfix divider_line2"></div>
         
        <h2>Why You Choose <strong>Joosa</strong></h2>
        	    
            <ul class="lirt_section">
            	<li class="left">1</li>
                <li><strong>Responsive HTML5 &amp; CSS3 Theme</strong> <i>Professional Website Design and Development Services and Fully Satisfied Customers Worldwide</i></li>
            </ul><!-- end section -->
            
            <div class="clearfix mar_top2"></div>
            
            <ul class="lirt_section">
            	<li class="left">2</li>
                <li><strong>Well Commented + Structured code</strong> <i>Professional Website Design and Development Services and Fully Satisfied Customers Worldwide</i></li>
            </ul><!-- end section -->
            
            <div class="clearfix mar_top2"></div>
            
            <ul class="lirt_section">
            	<li class="left">3</li>
                <li><strong>Different Awesome Slideshows. Include Slider Revolution worth of $12</strong> <i>Professional Website Design and Development Services and Fully Satisfied Customers Worldwide</i></li>
            </ul><!-- end section -->
            
            <div class="clearfix mar_top2"></div>
            
            <ul class="lirt_section">
            	<li class="left">4</li>
                <li><strong>Custom BG Patterns, Unlimited Colors and Shortcodes</strong> <i>Professional Website Design and Development Services and Fully Satisfied Customers Worldwide</i></li>
            </ul><!-- end section -->
            
            <div class="clearfix mar_top2"></div>
            
            <ul class="lirt_section">
            	<li class="left">5</li>
                <li><strong>5 Different Websites</strong> <i>Professional Website Design and Development Services and Fully Satisfied Customers Worldwide</i></li>
            </ul><!-- end section -->
            
            <div class="clearfix mar_top2"></div>
            
            <ul class="lirt_section">
            	<li class="left">6</li>
                <li><strong>Corporate. Creative. Hosting. Medical. One Page Websites</strong> <i>Professional Website Design and Development Services and Fully Satisfied Customers Worldwide</i></li>
            </ul><!-- end section -->
            
            <div class="clearfix mar_top2"></div>
            
            <ul class="lirt_section">
            	<li class="left">7</li>
                <li><strong>Cross Browser Support and Layered PSD Files</strong> <i>Professional Website Design and Development Services and Fully Satisfied Customers Worldwide</i></li>
            </ul><!-- end section -->

        	<!-- end more features section -->
     
</div><!-- end content right side -->

</div><!-- end content area -->

<div class="clearfix mar_top5"></div>

<!-- Footer
======================================= -->

<div class="footer">
	
    <div class="container">
    
   		<div class="one_fourth">
            
            <div class="footer_logo"><img src="images/footer-logo.png" alt="" /></div><!-- end footer logo -->
            
            <ul class="contact_address">
                <li><i class="fa fa-map-marker fa-lg"></i>&nbsp; 2901 Marmora Road, Glassgow,<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Seattle, WA 98122-1090</li>
                <li><i class="fa fa-phone"></i>&nbsp; 1 -234 -456 -7890</li>
                <li><i class="fa fa-print"></i>&nbsp; 1 -234 -456 -7890</li>
                <li><img src="images/footer-wmap.png" alt="" /></li>
            </ul>
            
        </div><!-- end address section -->
        
        <div class="one_fourth">
        	
            <h2>Useful <i>Links</i></h2>
            
            <ul class="list">
                <li><a href="#"><i class="fa fa-angle-right"></i> Home Page Variations</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> Awsome Slidershows</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> Features and Typography</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> Different &amp; Unique Pages</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> Single and Portfolios</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> Recent Blogs or News</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> Layered PSD Files</a></li>
            </ul>
            
        </div><!-- end useful links -->
         
        <div class="one_fourth">
        	
            <div class="twitter_feed">
            
            	<h2>Latest <i>Tweets</i></h2>
                
                <div class="left"><i class="fa fa-twitter fa-lg"></i></div>
                <div class="right"><a href="https://twitter.com/gsrthemes9" target="_blank">gsrthemes9</a>: Avira - Responsive html5 Professional and Brand New Look Template on ThemeForest.<br />
				<a href="#" class="small">.9 days ago</a> .<a href="#" class="small">reply</a> .<a href="#" class="small">retweet</a> .<a href="#" class="small">favorite</a></div>
                
                <div class="clearfix divider_line4"></div>
                
                <div class="left"><i class="fa fa-twitter fa-lg"></i></div>
                <div class="right"><a href="https://twitter.com/gsrthemes9" target="_blank">gsrthemes9</a>: Kinvexy - Responsive HTML5 / CSS3, Professional Corporate Theme.<br />
				<a href="#" class="small">.10 days ago</a> .<a href="#" class="small">reply</a> .<a href="#" class="small">retweet</a> .<a href="#" class="small">favorite</a></div>
                
            </div>
            
        </div><!-- end tweets -->
        
        
        <div class="one_fourth last">
        	
            <h2>Flickr <i>Photos</i></h2>
            
        	<div id="flickr_badge_wrapper">
            	<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=9&amp;display=latest&amp;size=s&amp;layout=h&amp;source=user&amp;user=93382411%40N07"></script>     
            </div>
            
        </div><!-- end flickr -->
             
    </div>
	
    <div class="clearfix"></div>
    
</div>



<div class="copyright_info">

    <div class="container">
    
        <div class="one_half">
        
            <b>Copyright © 2014 Joosa.com. All rights reserved.  <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a></b>
            
        </div>
    
    	<div class="one_half last">
     		
            <ul class="footer_social_links">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                <li><a href="#"><i class="fa fa-html5"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
            </ul>
                
    	</div>
    
    </div>
    
</div><!-- end copyright info -->


<a href="#" class="scrollup">Scroll</a><!-- end scroll to top of the page-->


 
</div>

    
<!-- ######### JS FILES ######### -->
<!-- get jQuery from the google apis -->
<script type="text/javascript" src="js/universal/jquery.js"></script>

<!-- style switcher -->
<script src="js/style-switcher/jquery-1.js"></script>
<script src="js/style-switcher/styleselector.js"></script>

<!-- main menu -->
<script type="text/javascript" src="js/mainmenu/ddsmoothmenu.js"></script>

<script type="text/javascript" src="js/mainmenu/selectnav.js"></script>

<!-- jquery jcarousel -->
<script type="text/javascript" src="js/jcarousel/jquery.jcarousel.min.js"></script>

<script type="text/javascript" src="js/mainmenu/scripts.js"></script>

<!-- scroll up -->
<script type="text/javascript">
    $(document).ready(function(){
 
        $(window).scroll(function(){
            if ($(this).scrollTop() > 100) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }
        });
 
        $('.scrollup').click(function(){
            $("html, body").animate({ scrollTop: 0 }, 500);
            return false;
        });
 
    });
</script>

<!-- jquery jcarousel -->
<script type="text/javascript">

	jQuery(document).ready(function() {
			jQuery('#mycarousel').jcarousel();
	});
	
	jQuery(document).ready(function() {
			jQuery('#mycarouseltwo').jcarousel();
	});
	
	jQuery(document).ready(function() {
			jQuery('#mycarouselthree').jcarousel();
	});
	
	jQuery(document).ready(function() {
			jQuery('#mycarouselfour').jcarousel();
	});
	
</script>

<script type="text/javascript" src="js/sticky-menu/core.js"></script>
<script type="text/javascript" src="js/sticky-menu/modernizr.custom.75180.js"></script>


</body>
</html>
