<html>
  <body>
  	<div class="navbar-header"> sdfsdssdf              
           <%=image_tag "logo.png", class: "logo"%>
           <a class="navbar-brand" href="index.html"></a>
        </div>
    <%= yield %>
  </body>
</html>
